<ion-header>
  <ion-toolbar>
    <ion-title>addFilm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text"  name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea  name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-input type="file"  name="title"></ion-input>
    </ion-item>
    
    <button class ="red" ion-button type="submit" block>Add Todo</button>
  </form>
</ion-content>
